.container{
    position: relative;
}
.centered {
    position: absolute;
    top: 10%;
    text-align: center;
}

.text-container{
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color:rgba(0,0,0,0.2);
    border-radius: 10px;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* VIGTIGT: Lægger videoen bag teksten */
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Anbefalet: Beskærer videoen pænt */
    /* object-fit: fill;  <-- Hvis du insisterer på at strække den */
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img-container{
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1; /* VIGTIGT: Lægger billedet bag teksten */
}

.reveal {
    opacity: 1 !important;
    transform: none !important;
}

/* Lightbox baggrund */
.lightbox {
    display: none; /* Skjult start */
    position: fixed;
    z-index: 9999; /* Helt øverst */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

/* Billedet indeni */
.lightbox-content {
    width: auto;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation: zoom 0.3s;
}

/* Luk knap (kryds) */
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
}

.close:hover {
    color: #ccc;
}

/* Gør cursoren til en 'hånd' på de billeder der kan klikkes */
.zoomable {
    cursor: pointer;
}

@keyframes zoom {
    from {transform: scale(0.7); opacity: 0}
    to {transform: scale(1); opacity: 1}
}